Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980, the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [4]:
Birth_year  = 1987
year_list = []
year_list.append(Birth_year)
for i in range (1,6):
    Birth_year = Birth_year+1
    year_list.append(Birth_year)
    
year_list

[1987, 1988, 1989, 1990, 1991, 1992]

In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [5]:
Third_year = year_list[3]
Third_year

1990

In the years_list, which year were you the oldest?

In [6]:
Oldest_Year  = year_list[-1]
Oldest_Year

1992

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [7]:
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [8]:
things[1] = things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

6.Make a surprise list with the elements "Groucho", "Chico", and "Harpo".

In [9]:
surprise = ["Groucho", "Chico", "Harpo"]

7.Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [13]:
surprise[-1] = surprise[-1].lower()[::-1].capitalize()
print(surprise[-1])

Oprah

8.Make an English-to-French dictionary called e2f and print it. Here are your starter words: "dog" is "chien", "cat" is "chat", and "walrus" is "morse"

In [14]:
e2f = {"dog": "chien", "cat": "chat", "walrus": "morse"}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9.Write the French word for "walrus" in your three-word dictionary e2f.

In [15]:
french_word_for_walrus = e2f["walrus"]
print(french_word_for_walrus)

morse

10.Make a French-to-English dictionary called f2e from e2f. Use the items() method.

In [17]:
f2e = {value:key for key, value in e2f.items()}
print (f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

11. Print the English version of the French word "chien" using f2e.

In [18]:
english_word_for_chien = f2e["chien"]
print(english_word_for_chien)

dog

12.Make and print a set of English words from the keys in e2f

In [20]:
english_words = set(e2f.keys())
print(english_words)

{'cat', 'walrus', 'dog'}

13.Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [21]:
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": {},
        "emus": {}
    },
    "plants": {},
    "other": {}
}

14.Print the top-level keys of life.

In [23]:
top_keys = list(life.keys())
print(top_keys)

['animals', 'plants', 'other']

15.Print the keys for life['animals'].

In [26]:
animal_key = list(life["animals"].keys())
print(animal_key)

['cats', 'octopi', 'emus']

16.Print the values for life['animals']['cats']

In [28]:
animal_cat_values = life["animals"]["cats"]
print(animal_cat_values)

['Henri', 'Grumpy', 'Lucy']